<h2 class="text-center my-4">Panel de Administrador</h2>

<div class="d-flex bg-dark">
  <div class="p-4 border-end d-flex flex-column" style="max-width: 200px; height: 100vh; color: white;">
    <h3 class="mb-3">Items</h3>
    <hr>
    <button #btnUsuarios class="btn btn-outline-light w-70 mb-2" title="Gestión de Usuarios"
      (click)="seccion = 'usuarios'">👤<br>Usuarios</button>
    <br>
    <button class="btn btn-outline-light w-70 mb-2" title="Gestión de Videojuegos"
      (click)="seccion = 'videojuegos'">🎮<br>Videojuegos</button>
    <br>
    <button class="btn btn-outline-light w-70 mb-2" title="Gestión de Categorias"
      (click)="seccion = 'categorias'">🏷️<br>Categorías</button>
    <hr>
    <button class="btn btn-danger w-70 mb-2 mt-auto" (click)="logout()">Cerrar sesión</button>
  </div>
  <!-- Gestión de usuarios -->
  <div class="flex-grow-1 p-4">
    <div *ngIf="seccion === 'usuarios'" style="color: white;">
      <!-- Encabezado con título y botón -->
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="mb-0">
          Listado de Usuarios
          <span *ngIf="estadoSeleccionado === 'ACTIVO'">Activos</span>
          <span *ngIf="estadoSeleccionado === 'INACTIVO'">Inactivos</span>
        </h3>
        <button class="btn btn-success d-flex align-items-center justify-content-center" title="Registrar usuario"
          style="width: 40px; height: 40px; font-size: 25pt; border-radius: 50%;" (click)="registrarUsuario()">
          <span style="position: relative; top: -2px;">+</span>
        </button>
      </div>
      <hr>
      <!-- Filtros -->
      <div class="d-flex align-items-center flex-wrap gap-4 mb-3">

        <div>
          <strong>Estado: </strong>
          <button class="btn btn-outline-light btn-sm"
            [ngClass]="estadoSeleccionado === 'ACTIVO' ? 'btn-light text-dark' : 'btn-outline-light'"
            (click)="cambiarEstado('ACTIVO')">Activo</button>
          <span class="mx-1">|</span>
          <button class="btn btn-outline-light btn-sm"
            [ngClass]="estadoSeleccionado === 'INACTIVO' ? 'btn-light text-dark' : 'btn-outline-light'"
            (click)="cambiarEstado('INACTIVO')">Inactivo</button>
        </div>

        <div>
          <strong>Rol: </strong>
          <button class="btn btn-outline-light btn-sm"
            [ngClass]="rolSeleccionado === null ? 'btn-light text-dark' : 'btn-outline-light'"
            (click)="cambiarRol(null)">Todos</button>
          <span class="mx-1">|</span>
          <button class="btn btn-outline-light btn-sm"
            [ngClass]="rolSeleccionado === 'ADMIN' ? 'btn-light text-dark' : 'btn-outline-light'"
            (click)="cambiarRol('ADMIN')">Administrador</button>
          <span class="mx-1">|</span>
          <button class="btn btn-outline-light btn-sm"
            [ngClass]="rolSeleccionado === 'USER' ? 'btn-light text-dark' : 'btn-outline-light'"
            (click)="cambiarRol('USER')">Cliente</button>
        </div>

        <!-- Tabla de usuarios -->
        <div class="table">
          <table *ngIf="usuarios.length > 0" class="table table-hover table-light table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Rol</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of usuarios; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ u.nombre }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.rol === 'ADMIN' ? 'Administrador' : u.rol === 'USER' ? 'Cliente' : u.rol }}</td>
                <td>
                  <ng-container *ngIf="u.id !== 1">
                    <button class="btn btn-sm btn-outline-dark" style="font-size: 12pt;" (click)="actualizarUsuario(u)"
                      title="Editar usuario">✏️</button> |
                    <button *ngIf="u.estado === 'A'" class="btn btn-sm btn-outline-dark" style="font-size: 12pt;"
                      (click)="desactivarUsuario(u.id)" title="Eliminar usuario">❌</button>
                    <button *ngIf="u.estado === 'I'" class="btn btn-sm btn-outline-dark" style="font-size: 12pt;"
                      (click)="reactivarUsuario(u.id)" title="Recuperar usuario">✅</button>
                  </ng-container>
                  <span *ngIf="u.id === 1" class="text-muted">-</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Videojuegos -->
    <div *ngIf="seccion === 'videojuegos'" style="color: white;">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="mb-0">Lista de Videojuegos</h3>
        <button class="btn btn-success d-flex align-items-center justify-content-center" title="Registrar videojuego"
          style="width: 40px; height: 40px; font-size: 25pt; border-radius: 50%;" (click)="registrarVideojuego()">
          <span style="position: relative; top: -2px;">+</span>
        </button>
      </div>
      <hr>

      <div class="d-flex gap-3 flex-wrap mb-3">
        <input class="form-control" placeholder="Buscar por nombre" [(ngModel)]="filtroNombre"
          (input)="buscarPorNombre()">
        <input class="form-control" type="number" placeholder="Buscar por ID" [(ngModel)]="filtroId"
          (input)="buscarPorId()">

        <select class="form-select" [(ngModel)]="filtroEstado" (change)="filtrarPorEstado()">
          <option value="">-- Todos --</option>
          <option value="A">Activo</option>
          <option value="I">Inactivo</option>
          <option value="F">Fuera de stock</option>
        </select>

        <select class="form-select" [(ngModel)]="filtroCategoria" (change)="filtrarPorCategoria()">
          <option value="">-- Todas --</option>
          <option *ngFor="let cat of categorias" [value]="cat.id">{{ cat.nombre }}</option>
        </select>
      </div>

      <table class="table table-hover table-light table-bordered" *ngIf="videojuegos.length > 0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Estado</th>
            <th>Categoría</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of videojuegos">
            <td>{{ v.id }}</td>
            <td>{{ v.titulo }}</td>
            <td>{{ v.precio }}</td>
            <td>{{ v.stock }}</td>
            <td>
              {{ v.estado === 'A' ? 'Activo' :
              v.estado === 'I' ? 'Inactivo' :
              v.estado === 'F' ? 'Fuera de stock' : v.estado }}
            </td>
            <td>{{ v.categoria?.nombre }}</td>
            <td>
              <button class="btn btn-sm btn-outline-info" (click)="editarVideojuego(v)">✏️</button> |
              <button class="btn btn-sm btn-outline-danger" (click)="eliminarVideojuego(v.id)">❌</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Categorias -->
    <div *ngIf="seccion === 'categorias'" style="color: white;">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="mb-0">Lista de Categorías</h3>
        <button class="btn btn-success d-flex align-items-center justify-content-center" title="Registrar categoría"
          style="width: 40px; height: 40px; font-size: 25pt; border-radius: 50%;" (click)="registrarCategoria()">
          <span style="position: relative; top: -2px;">+</span>
        </button>
      </div>
      <hr>

      <!-- 🔍 Buscador por ID -->
      <div class="mb-3 d-flex gap-3 flex-wrap">
        <input type="number" class="form-control" [(ngModel)]="filtroCategoriaId" placeholder="Buscar por ID" />
        <button class="btn btn-outline-light" (click)="buscarCategoriaPorId()">Buscar</button>
        <button class="btn btn-outline-secondary" (click)="cargarCategorias()">Limpiar</button>
      </div>

      <table class="table table-hover table-light table-bordered" *ngIf="categorias.length > 0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cat of categorias">
            <td>{{ cat.id }}</td>
            <td>{{ cat.nombre }}</td>
            <td>
              <button class="btn btn-sm btn-outline-info" (click)="editarCategoria(cat)">✏️</button> |
              <button class="btn btn-sm btn-outline-danger" (click)="eliminarCategoria(cat.id)">❌</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal Bootstrap -->
  <div #modalActualizarUsuario class="modal fade" tabindex="-1" id="modalActualizarUsuario"
    [attr.inert]="!usuarioSeleccionado ? true : null">
    <div class="modal-dialog">
      <div class="modal-content p-5 bg-dark" style="color: white;">
        <ng-container *ngIf="usuarioSeleccionado">
          <div class="d-flex justify-content-between align-items-center ">
            <h4>{{ modoRegistro ? 'Registrar Usuario' : 'Actualizar Usuario' }}</h4>
            <button class="btn btn-light d-flex align-items-center justify-content-center" type="button"
              style="width: 40px; height: 40px; font-size: 15pt; border-radius: 50%;" (click)="cerrarModal()">
              <span style="position: relative;">❌​</span>
            </button>
          </div>
          <hr>
          <form (ngSubmit)="guardarCambios()" #form="ngForm" novalidate>

            <div class="mb-3">
              <label class="form-label">Nombre:</label>
              <input class="form-control" [(ngModel)]="usuarioSeleccionado.nombre" name="nombre" required maxlength="50"
                #nombreModel="ngModel" />
              <div *ngIf="nombreModel.invalid && (nombreModel.dirty || nombreModel.touched)" class="text-danger small">
                <div *ngIf="nombreModel.errors?.['required']">El nombre es obligatorio</div>
                <div *ngIf="nombreModel.errors?.['maxlength']">El nombre no debe superar los 50 caracteres</div>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Email:</label>
              <input class="form-control" [(ngModel)]="usuarioSeleccionado.email" name="email" required email
                #emailModel="ngModel" />
              <div *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)" class="text-danger small">
                <div *ngIf="emailModel.errors?.['required']">El correo es obligatorio</div>
                <div *ngIf="emailModel.errors?.['email']">Formato de correo inválido</div>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Contraseña:</label>
              <input class="form-control" type="password" [(ngModel)]="nuevaPassword" name="nuevaPassword"
                #passwordModel="ngModel" [ngModelOptions]="{ updateOn: 'blur' }"
                [placeholder]="!modoRegistro ? 'Dejar en blanco para no modificar' : ''" [required]="modoRegistro"
                pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]+$" />
              <div *ngIf="passwordModel.invalid && (passwordModel.dirty || passwordModel.touched)"
                class="text-danger small">
                <div *ngIf="passwordModel.errors?.['required']">
                  La contraseña es obligatoria
                </div>
                <div *ngIf="passwordModel.errors?.['minlength']">
                  La contraseña debe tener al menos 6 caracteres
                </div>
                <div *ngIf="passwordModel.errors?.['pattern']">
                  La contraseña debe contener al menos una mayúscula, un número y un carácter especial
                </div>
              </div>

            </div>

            <div class="mb-3" *ngIf="!modoRegistro">
              <label class="form-label">Rol:</label>
              <select class="form-select" [(ngModel)]="usuarioSeleccionado.rol" name="rol" required>
                <option value="ADMIN">Administrador</option>
                <option value="USER">Cliente</option>
              </select>
            </div>

            <div class="d-flex justify-content-center align-items-center ">
              <button class="btn btn-info me-2" type="submit"
                [disabled]="form.invalid || !validarPassword() || usuarioSeleccionado.id === 1">{{ modoRegistro ? '💾
                Registrar' : '💾 Guardar' }}</button>
            </div>

          </form>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Modal para registrar/editar videojuegos -->
  <div #modalActualizarVideojuego class="modal fade" tabindex="-1" id="modalActualizarVideojuego"
    [attr.inert]="!videojuegoSeleccionado ? true : null">
    <div class="modal-dialog">
      <div class="modal-content p-5 bg-dark" style="color: white;">
        <ng-container *ngIf="videojuegoSeleccionado">
          <div class="d-flex justify-content-between align-items-center">
            <h4>{{ modoRegistroVideojuego ? 'Registrar Videojuego' : 'Actualizar Videojuego' }}</h4>
            <button class="btn btn-light d-flex align-items-center justify-content-center" type="button"
              style="width: 40px; height: 40px; font-size: 15pt; border-radius: 50%;" (click)="cerrarModalVideojuego()">
              <span style="position: relative;">❌</span>
            </button>
          </div>
          <hr>
          <form (ngSubmit)="guardarCambiosVideojuego()" #formVideojuego="ngForm" novalidate>

            <div class="mb-3">
              <label class="form-label">Título:</label>
              <input class="form-control" [(ngModel)]="videojuegoSeleccionado.titulo" name="titulo" required
                maxlength="100" />
              <div *ngIf="formVideojuego.submitted && !videojuegoSeleccionado.titulo" class="text-danger small">
                El título es obligatorio
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Descripción:</label>
              <textarea class="form-control" [(ngModel)]="videojuegoSeleccionado.descripcion" name="descripcion"
                rows="3" maxlength="500"></textarea>
            </div>

            <div class="mb-3">
              <label class="form-label">Precio:</label>
              <input type="number" class="form-control" [(ngModel)]="videojuegoSeleccionado.precio" name="precio"
                required min="0" />
              <div *ngIf="formVideojuego.submitted && videojuegoSeleccionado.precio < 0" class="text-danger small">
                El precio no puede ser negativo
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Stock:</label>
              <input type="number" class="form-control" [(ngModel)]="videojuegoSeleccionado.stock" name="stock" required
                min="0" />
              <div *ngIf="formVideojuego.submitted && videojuegoSeleccionado.stock < 0" class="text-danger small">
                El stock no puede ser negativo
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Estado:</label>
              <select class="form-select" [(ngModel)]="videojuegoSeleccionado.estado" name="estado" required>
                <option value="A">Activo</option>
                <option value="I">Inactivo</option>
                <option value="F">Fuera de stock</option>
              </select>
            </div>

            <div class="mb-3">
              <label class="form-label">Categoría:</label>
              <select class="form-select" [(ngModel)]="videojuegoSeleccionado.categoria.id" name="categoria" required>
                <option value="" disabled selected>-- Seleccionar Categoría --</option>
                <option *ngFor="let cat of categorias" [value]="cat.id">{{ cat.nombre }}</option>
              </select>
            </div>

            <div class="d-flex justify-content-center align-items-center">
              <button class="btn btn-info me-2" type="submit" [disabled]="formVideojuego.invalid">{{
                modoRegistroVideojuego ? '💾 Registrar' : '💾 Guardar' }}</button>
            </div>

          </form>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Modal para registrar/editar categoría -->
  <div #modalCategoria class="modal fade" tabindex="-1" id="modalActualizarCategoria">
    <div class="modal-dialog">
      <div class="modal-content p-5 bg-dark" style="color: white;">
        <ng-container *ngIf="categoriaSeleccionada">
          <div class="d-flex justify-content-between align-items-center">
            <h4>{{ modoRegistroCategoria ? 'Registrar Categoría' : 'Actualizar Categoría' }}</h4>
            <button class="btn btn-light d-flex align-items-center justify-content-center" type="button"
              style="width: 40px; height: 40px; font-size: 15pt; border-radius: 50%;" (click)="cerrarModalCategoria()">
              <span style="position: relative;">❌</span>
            </button>
          </div>
          <hr>
          <form (ngSubmit)="guardarCambiosCategoria()" #formCategoria="ngForm" novalidate>
            <div class="mb-3">
              <label class="form-label">Nombre:</label>
              <input class="form-control" [(ngModel)]="categoriaSeleccionada.nombre" name="nombre" required
                maxlength="100" />
              <div *ngIf="formCategoria.submitted && !categoriaSeleccionada.nombre" class="text-danger small">
                El nombre es obligatorio
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <button class="btn btn-info me-2" type="submit" [disabled]="formCategoria.invalid">
                {{ modoRegistroCategoria ? '💾 Registrar' : '💾 Guardar' }}
              </button>
            </div>
          </form>
        </ng-container>
      </div>
    </div>
  </div>