<div class="centrado-pagina">
  <h2>Iniciar sesión</h2>

  <form (ngSubmit)="login()" #form="ngForm" novalidate>

    <!-- EMAIL -->
    <div class="mb-3">
      <label class="form-label">Email:</label>
      <input class="form-control" [(ngModel)]="email" name="email" required email #emailModel="ngModel" />
      <div *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)" class="text-danger small">
        <div *ngIf="emailModel.errors?.['required']">El correo es obligatorio</div>
        <div *ngIf="emailModel.errors?.['email']">Formato de correo inválido</div>
      </div>
    </div>

    <!-- PASSWORD -->
    <div class="mb-3">
      <label class="form-label">Contraseña:</label>
      <input class="form-control" type="password" [(ngModel)]="password" name="password" #passwordModel="ngModel"
        required />
      <div *ngIf="passwordModel.invalid && (passwordModel.dirty || passwordModel.touched)" class="text-danger small">
        <div *ngIf="passwordModel.errors?.['required']">La contraseña es obligatoria</div>
      </div>

    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Entrar</button>
  </form>

  <p *ngIf="error" class="text-danger mt-2">{{ error }}</p>

  <hr />

  <p>¿No tienes cuenta?</p>
  <button (click)="irAlRegistro()" class="btn btn-link">Registrarse</button>
</div>