<div class="login-page">
  <div class="login-container">
    <!-- Izquierda: Imagen -->
    <div class="login-image">
      <img src="img/login/login_imagen_izq.jpg" alt="Mudkip" />
    </div>

    <!-- Derecha: Formulario -->
    <div class="login-form">
      <img src="img/logo.png" alt="Logo" class="logo" />
      <h2>Iniciar Sesión</h2>

      <form (ngSubmit)="login()" #form="ngForm" novalidate>
        <label>Correo electrónico *</label>
        <input type="email" [(ngModel)]="email" name="email" required email #emailModel="ngModel" />
        <div *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)" class="error">
          <div *ngIf="emailModel.errors?.['required']">El correo es obligatorio</div>
          <div *ngIf="emailModel.errors?.['email']">Formato de correo inválido</div>
        </div>

        <label>Contraseña *</label>
        <input type="password" [(ngModel)]="password" name="password" required #passwordModel="ngModel" />
        <div *ngIf="passwordModel.invalid && (passwordModel.dirty || passwordModel.touched)" class="error">
          <div *ngIf="passwordModel.errors?.['required']">La contraseña es obligatoria</div>
        </div>

        <button type="submit" [disabled]="form.invalid">Entrar</button>
        <p *ngIf="error" class="error-message">{{ error }}</p>
      </form>

      <p class="register-text">
        ¿No tienes cuenta? <a (click)="irAlRegistro()">Regístrate</a>
      </p>
    </div>
  </div>
</div>
